# HIT137 Assignment 3 - Required Python Packages

transformers # Hugging Face library for loading AI models (text + image)
torch  # PyTorch backend required by the Hugging Face models
Pillow # Image handling library used for the image captioning model
